/* Contenedor principal de la seccion 'Services' con dos columnas (trabajadores y tecnologias) */
.servicesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

@media (max-width: 1200px) {
    .servicesContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
/* Contenedor de tecnologias: grid de 3 filas y 2 columnas (para iconos o logos) */
/* Contenedor de perfiles de trabajadores */


/* Efecto de transicion suave para animaciones al entrar en pantalla */
/* .workerContainer > *, .techContainer > * {
    transition: transform 0.3s ease, opacity 0.3s ease;
} */

