/* Tarjeta de presentacion para cada perfil de trabajador:
    - Fondo blanco, bordes redondeados y sombra para destacar */
.workerProfile {
    width: 400px;
    margin-top: 30px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba (0,0,0,0.1); /* Sombra sutil inicial */
    padding: 20px;
    transition: transform 3s ease, box-shadow 3s ease; /* Animacion suave al hacer hover */
    text-align: center;
    opacity: 0;
    transform: translateY(0);
    transition: all 1s ease;
    max-height: 0;
    overflow: hidden;
    padding: 0;
}

.workerProfile.expanded {
    opacity: 1;
    transform: translateY(0);
    max-height: 800px;
    padding: 1.5rem;
}

.profileHeader {
    transition: opacity 3s ease;
}

.profileHeader h2,
.profileHeader p {
    margin: 0;
}

.workerProfile.expanded .profileHeader {
    opacity: 1;
}

