/* Texto introductorio centrado, con limites de ancho para mejorar la legibilidad */
.introText {
    margin-top: 2rem;

    /* Margenes laterales y centrando automatico */
    padding: 0 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    text-align: center;

    /* Legibilidad del texto */
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}